{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}
  <div class="row">
    <!-- Load sidebar -->
    {% include 'dashboard/sidebar.html' %}
    <!-- right side content -->
    <div class="col-md-9">
      {% if perms.auth.add_user %}
        <h3>Add New User</h3>
        <form action="{% url 'add_user' %}" method="POST">
            {% csrf_token %}
            {{ form | crispy }}
            <button type="submit" class="btn btn-warning">Submit</button>
        </form>
        <br>
        {% else %}
        <h5>Permission Required</h5>
        {% endif %}
    </div>
  </div>
{% endblock %}